---
extends: default

rules:
  line-length:
    max: 210
    allow-non-breakable-words: true
  truthy:
    # GURU FIX: ¡Las comillas son obligatorias aquí!
    allowed-values: ['true', 'false', 'yes', 'no']
  indentation:
    spaces: 2
    indent-sequences: consistent
