[defaults]
inventory = inventories/local/hosts.yml
interpreter_python = auto_silent        ; evita avisos de intérprete
host_key_checking = True                ; seguridad SSH
retry_files_enabled = False
timeout = 30
deprecation_warnings = True
stdout_callback = default               ; usa el callback por defecto...
callback_result_format = yaml           ; ...en formato YAML (recomendado)
bin_ansible_callbacks = True            ; perfiles de tiempo
callbacks_enabled = ansible.posix.timer,ansible.posix.profile_tasks
# pipelining acelera SSH; requiere 'requiretty' desactivado
pipelining = True

[privilege_escalation]
become = True
become_ask_pass = False
