# /etc/wg-ns/{{ instance.name }}.env
# Variables de entorno para %i consumidas por systemd (no es script).
NS={{ instance.name }}

# Par veth (nombres alineados con tus comandos "sagrados")
VETH_HOST=veth-{{ instance.name }}        # extremo host
VETH_NS=veth1                              # extremo dentro del netns (evitar 'eth0')

# Subred /30 y extremos
SUBNET_P2P={{ instance.subnet_p2p }}
HOST_IP={{ instance.host_ip }}
NS_IP={{ instance.ns_ip }}

# WAN_IF: si vacío, se autodetectará en preflight (ip route get 1.1.1.1 -> dev ...)
WAN_IF={{ instance.wan_if | default('') }}

# WireGuard en el netns
WG_IF={{ instance.wg_if }}

# Dirección WG del cliente (Address= del conf original, puede ser "10.x.x.x/32")
WG_ADDR={{ (network_wg_protonvpn_facts[instance.name].wg_addr | default('')) }}

# Ruta del conf purificado para wg setconf (resultado de wg-quick strip)
CONF={{ (network_wg_protonvpn_facts[instance.name].purowg_conf | default('')) }}

# DNS dentro del netns (si está vacío, más adelante usaremos el DNS del conf)
DNS_VPN={{ instance.dns_ns | default(network_wg_protonvpn_facts[instance.name].dns_original | default('')) }}
