[Desktop Entry]
Name=Logseq
Comment=A privacy-first, open-source knowledge base
Exec={{ logseq_install_dir }}/Logseq.AppImage --enable-features=UseOzonePlatform --ozone-platform=wayland %u
Icon={{ logseq_icon_dir }}/logseq.png
Terminal=false
Type=Application
Categories=Office;Utility;Productivity;
StartupWMClass=Logseq
MimeType=x-scheme-handler/logseq;
