---
# 1. Cargar variables: quitamos 'always' y ponemos el tag del rol
- name: "Cargar variables de la arquitectura de la distro"
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['os_family'] }}.yml"
    - "Debian.yml"
  tags: [veracrypt, veracrypt_install]

# 2. Instalación
- name: "Iniciar proceso de instalación"
  ansible.builtin.import_tasks: install.yml
  tags: [veracrypt_install]

# 3. Banner: solo se muestra si invocamos el rol o la instalación
- name: "Mostrar instrucciones de mantenimiento"
  ansible.builtin.import_tasks: banner.yml
  tags: [veracrypt, veracrypt_install]
