# Usa "i" para alternar stats persistentes, "I" para mostrarlos momentáneamente.
# Tamaño fuente legible y esquinas
font-size=28
padding=8
# Campos útiles y ordenados (puedes ajustarlo en tiempo real)
fields=decoder-video,vo,mistimed-frame-count,display-sync-active,cpu-usage-dropping,drop-frame-count,cache-speed,cache,cache-buffering-state,iccdm
